* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    /* background-color: rgb(207, 245, 232); */
}

header {
    height: 30vh;
}

main {
    min-height: 60vh;
}

footer {
    height: 10vh;
}
ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'M PLUS 1p', sans-serif;
}

.bi-cart4 {
    font-size:1.4rem;
}

#navbar {
    background: rgb(255, 255, 255);
    background: linear-gradient(233deg, rgba(255, 255, 255, 1) 38%, rgba(249, 246, 255, 1) 47%, rgba(192, 164, 251, 1) 67%);
}

/* animacion subrayado*/

.carousel-inner img {
    height: 8rem;
    object-fit: cover;
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

footer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: black;
    color: rgb(210, 209, 209);
    height: 10rem;
}
footer a{
    text-decoration: none;
    color:rgb(210, 209, 209);
}
.social {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    width: 200px;
}

.social i {
    color: rgba(192, 164, 251, 1);
}

.social i:hover {
    color: white;
}
